@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page-footer {
  background: $accentDark;
  .footer-copyright{
    background: $accent;
  }
  .mdi {
    font-size: 2em;
    margin-right: .3em;
  }
  .logo{
    font-size: 3em;
  }
}
nav {
  background: $Base;
  li a{
    color: $accent;
    font-weight: 600;
    .none{
      display: none;
    }
  }
  .nav-menu-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .ham {
    font-size: 3em;
    color: $accent;
  }
  .logoMenu{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .only-mobile{ 
    display: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
p {
  font-size: 16px;
}

@media screen and (max-width: 992px){
  nav{
    position: relative;
    .ham-container{
      position: absolute;
      left: 7.5%;
    }
    .nav-menu-mobile.active{
      background-color: $Base;
      opacity: 1;
      z-index: 1;
    }
    .active{
      left: 0;
      transition: all 0.5s ease;
    }
    li a{
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    li a:hover{
      background-color: $Light;
    }
    .only-mobile{ 
      display: flex;
    }
  }
}