@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Poppins;
  overflow-x: hidden;
}
// ::-webkit-scrollbar {
//   width: 0.5em;
//   height: 0px;
// }
// ::-webkit-scrollbar-thumb {
//   background: linear-gradient(to right, $accentDark, $accent);
//   border-radius: 5px;
//   height: 1px;
// }
#mxli, #cdmx {
  scroll-margin-top: 100px;
}

.page-footer {
  background: $accentDark;
  .col{
    margin: .8em 0;
  }
  .footer-copyright{
    background: $accent;
  }
  .mdi {
    font-size: 2em;
    margin-right: .3em;
  }
  .logo{
    font-size: 3em;
  }
}
nav {
  background: $Base;
  height: 65px;
  z-index: 2;
  li a{
    color: $accent;
    font-weight: 600;
    .none{
      display: none;
    }
  }
  li a:hover{
    background: $Light;
  }
  .selector{
    background-color: $accent;
    color: $Base;
    position: relative;
    top: 1rem;
    border-radius: 10px;
    height: 2.5rem;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: none;
  }
  .selector:hover{
    background-color: $accentDark;
  }
  .nav-menu-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .ham {
    font-size: 3em;
    color: $accent;
  }
  .logoMenu{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .only-mobile{ 
    display: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: $accent;
}
h3 {
  font-size: 18px;
  color: $accentDark;
  font-weight: 600;
}
h4 {
  font-size: 12px;
}
p {
  font-size: 16px;
  color: $Dark;
  // max-width: 75vw;
}

.logo {
  height: 1em;
}


@media screen and (max-width: 992px){
  hr{
    display: none;
  }
  nav{
    position: fixed;
    .selector{
      width: 10vw;
      left: 50%;
      transform: translateX(-50%);
    }
    .ham-container{
      position: absolute;
      left: 7.5%;
    }
    .nav-menu-mobile.active{
      background-color: $Base;
      opacity: 1;
      z-index: 1;
    }
    .active{
      left: 0;
      transition: all 0.5s ease;
    }
    li a{
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    li a:hover{
      background-color: $Light;
    }
    .only-mobile{ 
      display: flex;
    }
  }
}