@import 'colors';

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    h2{
        color: $Dark;
    }
    p{
        max-width: 450px;
        text-align: center;
    }
    @media screen and (min-width: 992px){
        p{
            max-width: 75vw;
        }
    }
}